<h1>Editar Balance</h1>

<%= render 'form' %>
<br>
<div class="row">
  <div class="col-sm-12">
  <%= link_to 'Mostrar', docs_balance_sheet_entry_path(@balance_sheet_entry), class: "btn btn-primary" %>
  
  <%= link_to 'Regresar', docs_balance_sheet_entries_path, class: "btn btn-info" %>
  </div>
</div>
