<h1>Calendar</h1>
<div class="row">
  <div class="col-sm-12">
    <button id="nueva_cita" type="button" class="btn btn-primary">Programar Cita</button>
  </div>
</div>
<p>
  <div id="calendar"></div>

  <!-- Modal -->
  <div class="modal fade" id="NuevaCita" tabindex="-1" role="dialog" aria-labelledby="NuevaCitaLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="NuevaCitaLabel">Programar Cita</h4>
        </div>
        <div class="modal-body">
          <h1 class="big center" id="time"></h1>
          <p>
            <form action="#" class="form">
              <div class="form-group"> 
                <label>Paciente</label>
                <%= select_tag "Paciente", 
                                options_from_collection_for_select(
                                  @patients, :id, :full_name, 1), 
                                class: "form-control selectpicker", 
                                "data-live-search" => "true" %>
              </div> 
              <div class="form-group">
                <label for="description">Description de la Visita:</label>
                <textarea name="description" id="description" class="form-control" placeholder="Descripción"></textarea>
              </div>
              <div class="form-group">
                <label for="tiempo">Tiempo:</label>
                <h3 id="tiempo"></h3>
              </div>
              <div class="form-group">
                <label for="costo">Costo:</label>
                <input type="text" name="costo" id="costo" placeholder="Costo"  class="form-control" >
              </div>
            </form>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  

</p>