<h1>Editar Balance</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', docs_balance_sheet_entry_balance_sheet_entry_detail_path(@balance_sheet_entry_detail.balance_sheet_entry, @balance_sheet_entry_detail) %>&nbsp;&nbsp;
<%= link_to 'Atrás', docs_balance_sheet_entry_path(@balance_sheet_entry_detail.balance_sheet_entry) %> 
