<h3 class="section-title">Mi Clínica</h4>

<!-- Clinica -->
<div class="row">
	
	<div class="col-md-3">
		
	</div>

	<div class="col-md-9">
		<p class="section-paragraph"><%= @clinic.name %></p>
		<p class="section-paragraph"><%= @clinic.description %></p>
		<p>
      <%= link_to 'Cuentas', docs_balance_sheet_entries_path, class: 'btn btn-info' %> 
		</p>
		<!-- <p class="section-paragraph"> Horarios: </p> -->
	</div>

</div>

<!-- Doctores -->

<h3 class="section-title">Doctores</h4>

<div class="row">
	
	<div class="col-md-3 doctors-section">
		<%= image_tag("dentist.jpeg", alt: "logo") %>
	</div>

	<div class="col-md-9">
		<p class="section-paragraph">Dr. Henry Remache</p>
		<p class="section-paragraph">henry2992@hotmail.com</p>
		<!-- <p class="section-paragraph"> Especialidad </p> -->
		<!-- <p class="section-paragraph"> Horarios: </p> -->
	</div>

</div>







