/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require_tree ./docs/
 *= require patients
 *= require_self
 */
@import "bootstrap";
/* Fonts */
@font-face {
    font-family: 'proxima-nova';
    src: url(../fonts/proxima-nova.otf);
}

html {
  font-size: 18px;
}

body{
	background-color: #e4e5e6 !important;
}

/* General Styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  background-color: transparent;
}

.row-fix {
	margin-right: 0px !important;
	margin-left: 0px !important;
}


/********************************************************************************************/
/********************************** APLICATION NAV BAR *************************************/
/******************************************************************************************/


.app-navbar-brand{
	width: 100%;
	text-decoration: none !important;
}
.app-navbar-brand:hover{
	background-color: transparent;
	text-decoration: none !important;
}

.app-navbar-brand span{

}

.app-navbar .nav-link {
	color: #000 !important;
	text-decoration: none !important;
}

.app-navbar .nav-link:hover {
	background-color: transparent;
	text-decoration: none !important;
}

/*CUSTOM */
.app-navbar .app-navbar-brand img {
	background-color: #24B7DB;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 5px;
	z-index: 20;
	position: relative;
	display: inline-block;
}

.navbar-login {
  width: 250px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login a {
	text-decoration: none !important;
	margin-top: 10px;
	line-height: 1;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}


/**************************************************************************************************************/
/****************************************** APLICATION CONTENT ***********************************************/
/************************************************************************************************************/


.app{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.5;
	color: #263238;
	background-color: #e4e5e6;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app-header {
  flex: 0 0 55px; 
}


.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%; 
}

.app-body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow-x: hidden;
}

.app-body .sidebar{
	flex: 0 0 200px;
	order: -1;

}

.sidebar-fixed .sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
}

.sidebar{
	padding: 0;
	color: #fff;
	background: #263238;
	overflow: hidden;
	display: none;
}

.sidebar-fixed .sidebar .sidebar-nav{
	height: calc(100vh - 55px);
}

.sidebar .sidebar-nav {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	width: 200px;
}


.sidebar .nav{
	width: 200px;
	flex-direction: column !important;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.sidebar .nav .nav-item{
	position: relative;
	margin: 0;
	transition: background .3s ease-in-out;
}


.sidebar .nav .nav-item .nav-link{
	display: block;
	padding: 0.75rem 1rem;
	color: #fff;
	text-decoration: none;
	background: transparent;
}

.main {
	width: 100%;
}

.main-wrapper{
	padding:  30px 15px;
}

.main-content{
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #cfd8dc;
	padding: 25px;
}


/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}


/* Medium size screens  ----------- */
@media only screen and (min-width : 992px)  {
		.sidebar{
		display: block;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

