<!DOCTYPE html>
<html>
  <head>
    <title>Consultorios</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'doctors', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
